#extra-path-page-container {
  background-color: hsl(0, 0%, 95%);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 100000;
  top: 0em;
  #new-VR-viewer-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 0em;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  #new-VR-viewer-container::-webkit-scrollbar {
    display: none;
    opacity: 0;
  }

  #new-VR-viewer-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  #new-VR-viewer-container iframe::-webkit-scrollbar {
    opacity: 0;
    display: none;
  }

  @media all and (max-width: 1000px) {
    #new-VR-viewer-container {
      // width: 0vw;
      // display: ;
    }
  }
}
