@mixin cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Formation {
    display: grid;

    grid-template-rows: auto autoa 100vh;
    grid-template-columns: 1fr ;
    // padding-left: 5vw;
    padding-right: 5vw;
    // padding-top: 2em;
    // background-color: salmon;
    //   @include cent();

    .formation_section_1{
          grid-column: 1;
  grid-row: 1;
      
        .project_title{
             font-family: "Ubuntu", sans-serif;
             font-style: italic;
             font-weight: 900;
    position: absolute;
    // width: 50%;
    font-size: 6vw;
    left: 5%;
    top: 2%;
}

    }

    .formation_section_2{
          grid-column: 1;
  grid-row: 2;
  
       .project_title{
             font-family: "Ubuntu", sans-serif;
             font-style: italic;
             font-weight: 900;
             line-height: 90%;
    position: absolute;
    // width: 50%;
    font-size: 4.5vw;
    left: 15%;
    top: 13%;
}
p{
             font-family: "Ubuntu", sans-serif;
             font-style: italic;
             font-weight: 900;
             line-height: 100%;
    position: absolute;
    // width: 50%;
    font-size: 1.6vw;
    left: 15%;
    top: 42%;
}

    }
    .formation_section_3{
          grid-column: 1;
  grid-row: 3;
  
        background-color: red;

    }



}

//!########################################

@media all and (max-width: 1000px) {


    .Formation {
        padding-left: 0vw;
        padding-right: 0vw;

       

    }

}